
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Estilização do Header */
#container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 1rem;
    background-color: #23232e;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(255, 255, 255);
    
}

#menu {
    display: flex;
    gap: 1.5rem;
}

#menu a {
    display: block;
    padding: 1rem;
    color: white;
    transition: 0.3s;
}

#menu a:hover {
    background: #4a4a5f79;
    border-radius: 15px;
}

#btn-mobile {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    
}
#nav.active #menu {
    visibility: visible;
    height: calc(30vh);
    overflow-y: auto;
    background-color: #23232e;
    color: white; 
}
    /* Responsividade */
@media (max-width: 950px) {
    #menu {
        display: flex;
        position: absolute;
        width: 100%;
        top: 90px;
        right: 0;
        background-color: #23232e;
        height: 0;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        z-index: 1000;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    #nav.active #menu {
        visibility: visible;
        height: calc(30vh);
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
        display: block;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
        transition: .3s;
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        transition: .3s;
        top: -7px;
    }
}
@media (max-width: 500px) {
    .h1 {
        flex-direction: column;
        gap: 0;
        line-height: 1.2;
        font-size: 2rem;
    }
}
@media (max-width: 340px) {
    .h1{
        display: none;
    }
}
/*Fim do Header*/

main{
    display: flexbox;
}
p{
    justify-content: center;
    text-align: center;
}
